@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
}